body {
    margin: 0;
    padding: 0;
}

#ticTacToe{
    text-align: center;
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 300px;
    min-height: 150px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game_field {
    border: 2px solid black;
    display: inline-block;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-around;
}

.cell-style {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    font-size: 100px;
}
