<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <link rel="stylesheet" href='assets/css/style.css'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/js/vue.min.js"></script>
    <script defer src="assets/js/main.js"></script>

</head>

<body>
    <!-- <div id="app">
       <p>{{ message }}</p>
    </div>

    <div id="app-1">
        <span :title='message'>
            наведи на меня пж
        </span>
    </div>

    <div id="app-2">
        <span v-if='seen'>сейчас меня видно</span>
    </div>

    <div id="app-3">
        <ol>
            <li v-for='todo in todos'>
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-4">
        <p>{{ message }}</p>
        <button v-on:click='reverseMessage'>Перевернуть</button>
    </div>

    <div id="app-5">
        <p>{{message}}</p>
        <input v-model='message'>
    </div>-->

    <div id='app-6'>
        <div v-bind:class="{hide}">
            <input v-model='text'>
            <button v-on:click='getName'>Подтвердить имя</button>
        </div>
        <h3>Вас зовут: {{name}}</h3>
    </div>

    <div id="list">
        <input v-model='food'>
        <button v-on:click='getName'>Добавить в список</button>
        <ol>
            <todo-item 
            v-for='(item, id) in groceryList'
            v-bind:todo='item'
            v-bind:key='item.id'
            v-on:remove="groceryList.splice(id, 1)"
            >
            </todo-item>
        </ol>
    </div>

  
</body>

</html>